body {
    font-family: 'Inter', sans-serif;
    color: #000;
    background-color: #fff;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #000;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #666;
}

section {
    padding: 60px 0;
}

.hero {
background-image:url('../images/hero_bg.png');
background-size: cover;
}

h1, h2, h5 {
    color: #000;
}

p {
    color: #333;
}

.btn-dark {
    background: linear-gradient(45deg, #000000, #000000, #ffffff);
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-dark:hover {
    background: linear-gradient(45deg, #000000, #000000, #000000);
    transform: translateY(-2px);
}

/* Gradient text effect */
.gradient-text {
    background: linear-gradient(45deg, #000000, #000000, #ffffff); /* Black to white gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent so the gradient shows */
    font-size: 3rem; /* Adjust font size as needed */
    font-weight: 300; /* Adjust font weight */
}

.text-xxs {
  font-size:13px;
}

.skills{
  background-image: url('../images/skills.png');
  background-size: cover;
}

 /* Skill Card Base Styling */
 .skill-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    min-height:220px;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

/* Circular container for icons with gradient */
.skill-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('../images/icon.png')!important;
    background-size: cover;/* Black-to-white gradient */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    transition: background 0.3s ease;
}

/* Skill Icon Gradient Styling */
.skill-icon {
    font-size: 2.5rem;
    color: transparent;
    background: linear-gradient(45deg,rgb(240, 239, 239), #f6f5f5, #ffffff); /* Black-and-white gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

/* Change gradient direction on hover */
.skill-card:hover .skill-icon {
    background: linear-gradient(45deg, #ffffff, #fefbfb, #f8f7f7); /* Reversed gradient effect on hover */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fw-semibold {
    font-weight: 600;
}

  /* Experience Card */
  .experience-card {
    background-image:url('../images/exp-card.png');
    background-size: cover;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    min-height:680px;
}

.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

/* Icon Styling */
.experience-card .bi {
    font-size: 2rem;
    background: linear-gradient(45deg, #000000,#000000, #ffffff); /* Gradient from black to white */
    -webkit-background-clip: text;  /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent so gradient is visible */
}

.fw-semibold {
    font-weight: 600;
}

.company-logo {
    border-radius: 50%;
    padding:14px;
    background-image: url('../images/exp-icon.png');
    background-size: cover;
    width: 100px;
    height:100px;
    object-fit: contain;
}

/* Add some spacing for responsiveness */
.me-3 {
    margin-right: 1rem;
}


.education .education-item {
    position: relative;
    padding-top: 40px;
  }
  
  .education .education-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg,black,white);
  }
  
  .education .education-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background:var(--blue-dark-color);
    border-right: 5px solid var(--background-color);
  }
  
  .education .education-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .education .education-item .icon i {
    color: color-mix(in srgb, black,white, transparent 30%);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .education .education-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: linear-gradient(90deg,black,black,white);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .education .education-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .education .education-item .title a {
    color: var(--heading-color);
  }
  
  .education .education-item .title a:hover {
    color: var(--accent-color);
  }
  
  .education .education-item .description {
    line-height: 24px;
    font-size: 14px;
  }
  .my-certificates{
    background-image: url('../images/certification_bg.png');
    background-size:cover;
  }
  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size:30px;
    color:#f2eeee;
  }

  
  .certificate-card {
    background: #fff;
    justify-content: center;
    padding: 20px;
    max-width: 360px;
    min-height:280px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .certificate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .swiper {
    padding: 50px 0;
  }

  .swiper-pagination-bullet{
    background:rgb(251, 251, 251);
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }



.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2) !important;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  text-align: center;
}

.project-item:hover .overlay {
  opacity: 1;
}

.project-item .overlay h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color:white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  overflow: hidden;
  padding: 20px;
}

.modal[aria-hidden="false"] {
  display: block; /* Show modal when active */
}

.modal-content {
  position: relative;
  max-width: 360px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.modal-content video {
  width: 100%;
  height: auto;
  border:none;
}

.close {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

/* Text styling */
.text-muted {
    color: #ccc;
    font-size: 1rem;
}

/* Contact Section Styling */
.contact {
  padding: 3rem 0;
  background-image: url('../images/contact.png');
  background-size: cover;
  background-attachment: fixed; /* Light background */
  text-align: center;
}

#contact h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

#contact p {
  font-size: 1.1rem;
  color: #6c757d; /* Muted text */
  margin-bottom: 2.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.gradient-icon {
  font-size: 4rem;
  color: #fff;
  background: linear-gradient(45deg,black,black,white);
  padding: 1.2rem;
  border-radius: 50%;
  margin-left:1rem;
  margin-bottom: 1rem;
}

.gradient-icon:hover{
  transform: translateY(-10px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.contact-item a {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}



@media (max-width: 768px) {
  #contact .row {
      flex-direction: column;
  }

  .contact-item {
      margin-bottom: 1.5rem;
  }

  /* Experience Card */
  .experience-card {
    min-height:100px !important;
}
}


@media (max-width: 768px) {
    .skill-card {
        margin-bottom: 20px;
    }
    
    .swiper-button-next:after, .swiper-button-prev:after {
      font-size:30px;
      display: none;
    }
}


footer {
    font-size: 0.9rem;
    color: #dcdada;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .hero {
      background-image: url('../images/hero_bg_m.png');
    }
  }

