body {
    font-family: 'Inter', sans-serif;
    color: #000;
    background-color: #fff;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #000;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #666;
}

section {
    padding: 60px 0;
}

.hero {
background-image:url('../images/hero_bg.png');
background-size: cover;
}

h1, h2, h5 {
    color: #000;
}

p {
    color: #333;
}

.btn-dark {
    background-color: #000;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-dark:hover {
    background-color: #333;
    transform: translateY(-2px);
}

/* Gradient text effect */
.gradient-text {
    background: linear-gradient(45deg, #000000, #000000, #ffffff); /* Black to white gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent so the gradient shows */
    font-size: 3rem; /* Adjust font size as needed */
    font-weight: 300; /* Adjust font weight */
}

 /* Skill Card Base Styling */
 .skill-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    min-height:220px;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

/* Circular container for icons with gradient */
.skill-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,black,black, #ffffff); /* Black-to-white gradient */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: background 0.3s ease;
}

/* Skill Icon Gradient Styling */
.skill-icon {
    font-size: 2.5rem;
    color: transparent;
    background: linear-gradient(45deg, white, #ffffff, #ffffff); /* Black-and-white gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

/* Change gradient direction on hover */
.skill-card:hover .skill-icon {
    background: linear-gradient(45deg, #ffffff, #ffffff, #000000); /* Reversed gradient effect on hover */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fw-semibold {
    font-weight: 600;
}

/* Text styling */
.text-muted {
    color: #ccc;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .skill-card {
        margin-bottom: 20px;
    }
}


footer {
    font-size: 0.9rem;
    color: #dcdada;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .hero {
      background-image: url('../images/hero_bg_m.png');
    }
  }

